<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Produtos</title>
</head>
<body>
  <h1>Lista de Produtos</h1>
  <main>
    <div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Em Estoque</th>
        </tr>
        <tr th:each = "product : ${products}">
          <td th:utext="${product.id}"></td>
          <td th:utext="${product.name}"></td>
          <td th:utext="${product.price}"></td>
          <td th:utext="${veiculo.stock}"></td>
          <td th:utext="${veiculo.tipo}"></td>
          <td th:utext="${veiculo.disponivel}"></td>
        </tr>
      </table>
    </div>

  </main>
</body>
</html>